<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Creative Agency Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: DM Sans;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: undefined;
        letter-spacing: normal;
        line-height: 1.3;
        color: var(--dl-color-scheme-darkblue);
        background-color: var(--dl-color-scheme-white);

        fill: var(--dl-color-scheme-darkblue);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital,wght@0,400;1,400&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      .services-card:hover > div{
      background-color: #fff
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq2.css" rel="stylesheet" />
      <div class="faq2-faq8 thq-section-padding">
        <div class="faq2-max-width thq-section-max-width">
          <div class="thq-flex-row faq2-container">
            <div class="faq2-section-title thq-flex-column">
              <div class="faq2-content">
                <h2 class="faq2-text thq-heading-2"><span>СЛЕДУЙ ИМ.</span></h2>
                <p class="faq2-text01 thq-body-large">
                  <span>
                    Нарушение правил строго наказывается. В свою очередь, их
                    соблюдение поощряется.
                  </span>
                </p>
              </div>
            </div>
            <div class="faq2-list thq-flex-column">
              <div class="faq2-list-item1">
                <p class="faq2-faq1-question thq-body-large">
                  <span>Пункт ZERO</span>
                </p>
                <span class="thq-body-small">
                  <span>
                    0.1. Все нижеизложенные правила могут игнорироваться или
                    трактоваться иначе высшим админ-составом без объяснения
                    причин и в одностороннем порядке могут быть пересмотрены на
                    усмотрение высшего админ-состава в любое время.
                  </span>
                </span>
              </div>
              <div class="faq2-list-item2">
                <p class="faq2-faq2-question thq-body-large">
                  <span>Пункт 1. Общие положения.</span>
                </p>
                <span class="thq-body-small">
                  <span>
                    1.1 На сервере полная свобода слова и вероисповедания,
                    однако оскорбления игроков - запрещены. Наказание: одно
                    предупреждение в ЛС, далее мут, гаг на 1 час. В случае
                    рецидива (более 3-х раз в сутки) - бан на 24 часа.
                  </span>
                  <br />
                  <span>
                    1.2 Обсуждения социальных, экономических, политических тем
                    не возбраняется.
                  </span>
                  <br />
                  <span>
                    1.3 Не запрещено абузить функционал сервера при ПвП и
                    строительстве (кроме случаев, предусмотренных пунктом 1.4).
                  </span>
                  <br />
                  <span>1.4 Запрещено:</span>
                  <br />
                  <span>
                    А) Спамить пропами, эффектами, транспортом, энтити и
                    инструментами тулл гана на карте.
                  </span>
                  <br />
                  <span>Б) Застраивать и блокировать спавн.</span>
                  <br />
                  <span>В) Мешать другим игрокам строить.</span>
                  <br />
                  <span>
                    Наказание: в случаях предусмотренных пунктом 1.4 А - бан до
                    72 часов, если был умысел крашнуть сервер - перма бан. В
                    случаях предусмотренных пунктом 1.4 Б и В - бан до 24 часов,
                    либо джаил до 10 минут.
                  </span>
                  <br />
                  <span>
                    1.5 Попытка ухода от наказания - бан вплоть до перма (на
                    усмотрение админа)
                  </span>
                  <br />
                  <span>1.6 В голосовом и письменном чате запрещены;</span>
                  <br />
                  <span>
                    А) Спам; Б) Реклама; В) Крик и неисправный микро; Г) КАПС
                    без причины&nbsp; Наказание: в случаях предусмотренных
                    пунктом 1.6 А, Б - перма бан. В случаях предусмотренных
                    пунктом 1.6 В,Г - гаг, мут до 6 часов, в случае рецидива
                    (более 3-х раз) - бан до 48 часов.э
                  </span>
                </span>
              </div>
              <div class="faq2-list-item3">
                <p class="faq2-faq3-question thq-body-large">
                  <span>Пункт 2. Условия использования донат-услуг.</span>
                </p>
                <span class="thq-body-small">
                  <span>
                    2.1 При ПвП разрешено ставить себе хп и броню до 500 единиц.
                    В случае нарушения - бан до 2 часов, при пятом нарушении -
                    изъятие привилегии (кроме случаев, когда админ и выше это
                    санкционировал).
                  </span>
                  <br />
                  <span>
                    2.2 Раздача донат оружия игрокам - бан до 24 часов, при
                    втором выявленном случае контрабанды - изъятие привилегии
                    (кроме случаев, когда админ и выше это санкционировал)
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
    <script defer="">
      window.onload = () => {
        const runAllScripts = () => {
          initializeAllSliders();
        };

        const listenForUrlChanges = () => {
          let url = location.href;
          document.body.addEventListener(
            "click",
            () => {
              requestAnimationFrame(() => {
                if (url !== location.href) {
                  runAllScripts();
                  url = location.href;
                }
              });
            },
            true
          );
        };

        const initializeAllSliders = () => {
          const allSliders = document.querySelectorAll('[data-type="slider"]');
          allSliders.forEach((slider) => {
            initializeSlider(slider);
          });
        };

        const initializeSlider = (slider) => {
          const slides = slider.querySelectorAll('[data-type="slide"]');
          const middle = Math.ceil(slides.length / 2);
          let currentSlide = middle;

          const nextSlideBtns = document.querySelectorAll(
            '[data-action="nextSlide"]'
          );
          const previousSlideBtns = document.querySelectorAll(
            '[data-action="previousSlide"]'
          );

          const changeSlide = (slideIndex, action) => {
            currentSlide = slideIndex;

            switch (action) {
              case "next":
                slideIndex === slides.length
                  ? (currentSlide = 1)
                  : currentSlide++;
                break;
              case "previous":
                slideIndex === 1
                  ? (currentSlide = slides.length)
                  : currentSlide--;
            }

            const slide = slides[0];
            if (!slide) {
              console.error("No slides present");
              return;
            }
            const style = window.getComputedStyle(slide);
            slideWidth =
              parseInt(style.width) +
              parseInt(style.marginLeft) +
              parseInt(style.marginRight);
            const transformValue = -slideWidth * (currentSlide - middle);

            slider.style.transform = `translateX(${transformValue}px)`;
          };

          previousSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "previous")
            );
          });

          nextSlideBtns.forEach((btn) => {
            btn.addEventListener("click", () =>
              changeSlide(currentSlide, "next")
            );
          });
        };

        runAllScripts();
      };
    </script>
  </body>
</html>
